# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv
venv/
.idea/
.vscode/

# Data & figures
figure/
*.npz
*.pt
*.png
*.svg
*.pdf
*.csv.zip

# Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Heavy data (avoid pushing large artifacts)
clean_data/
dataset/raw_data/
dataset/qm9/pyg/
